.main-colour {
  color: #03c988;
}

.banner-img1 {
  background-image: url(resource/image/carousel/1.jpg);
  height: 100vh;
}
.banner-img2 {
  background-image: url(resource/image/carousel/2.jpg);
  height: 100vh;
}
.banner-img3 {
  background-image: url(resource/image/carousel/3.jpg);
  height: 100vh;
}

.client-img {
  width: 160px;
}
